.footer {
  padding: 72px 0;
  background-color: var(--color-footer-bg);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__logo {
    margin-top: -12px;
  }

  &-nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &-nav__link {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: var(--color-light);

    &-accent {
      color: var(--color-accent);

      &:hover {
        color: var(--color-light);
      }
    }

    &:hover {
      color: var(--color-accent);
    }
  }
}

.social {
  &__list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-in;
  }

  &__item {
    width: 30px;
    height: 20px;
  }

  &__icon {
    width: 30px;
    height: 20px;
    fill: var(--color-light);

    &:hover {
      fill: var(--color-accent);
    }
  }
}


