.form {
  &__input {
    width: 255px;
    padding: 12px 80px;
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-light);
    border: none;
    transition: background-color 0.3s ease-in;

    &::placeholder {
      color: #bebebe;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.4);
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__text {
    font-family: var(--font-main);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #e7e7e7;
  }

  &__btn {
    padding: 12px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-accent);
    transition: saturate 0.3s ease-in;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: saturate(#D4C17F, 10%);
    }

    @include small-tablet {
      width: 100%;
    }

  }
}
