.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 137px;
    height: 66px;

    &-icon {
      width: 137px;
      height: 66px;
      fill: var(--color-light);
    }
  }
}
