.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
  }

  &__link {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: var(--color-light);
    transition: hover 0.2s ease-in-out;

    &:hover {
      color: var(--color-accent);
    }
  }

  &-burger__btn {
    /* display: none; */
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    color: var(--color-light);
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-light);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: calc(100% - 2px);
    }

    &--active {
      &::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      &::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      .nav-burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &-burger__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-light);
    transform: translateY(-50%);
  }
}
