.appartments {
  &__title {
    margin-bottom: 88px;
    font-family: var(--font-accent);
    font-size: 36px;
    line-height: 48px;
    color: #d4c17f;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
