<section class="appartments">
  <div class="container">
    <h2 class="appartments__title">Наши квартиры</h2>
    <div class="cards">
      <a href="#!" class="card">
        <img loading="lazy" src="../img/01.jpg" class="card__image" width="540" height="320" alt="Пентхаус Loft Олимп">
        <h3 class="card__title">Пентхаус “Loft Олимп”</h3>
      </a>
      <a href="#!" class="card">
        <img loading="lazy" src="../img/02.jpg" class="card__image" width="540" height="320" alt="Апартаменты Nice Loft">
        <h3 class="card__title">Апартаменты “Nice Loft”</h3>
      </a>
      <a href="#!" class="card">
        <img loading="lazy" src="../img/03.jpg" class="card__image" width="540" height="320" alt="Апартаменты Loft Studio">
        <p class="card__title">Апартаменты “Loft Studio”</p>
      </a>
      <a href="#!" class="card">
        <img loading="lazy" src="../img/04.jpg" class="card__image" width="540" height="320" alt="Loft квартира Престиж">
        <p class="card__title">Loft квартира “Престиж”</p>
      </a>
    </div>
  </div>
</section>
