<section class="features" id="features">
  <div class="container">
    <div class="features__wrapper">
      <article class="features__item features__item--big">
        <img loading="lazy" src="./img/svg/bench.svg" class="features__image" width="80" height="80" alt="bench">
        <p class="features__title">Рядом исторические парки и скверы</p>
      </article>
      <article class="features__item">
        <img loading="lazy" src="./img/svg/building.svg" class="features__image" width="80" height="80" alt="building">
        <p class="features__title">Полностью обустроенный</p>
      </article>
      <article class="features__item">
        <img loading="lazy" src="./img/svg/fountain.svg" class="features__image" width="80" height="80" alt="fountain">
        <p class="features__title">10 фонтанов на территории</p>
      </article>
      <article class="features__item">
        <img loading="lazy" src="./img/svg/bicycle.svg" class="features__image" width="80" height="80" alt="bicycle">
        <p class="features__title">6 км велодорожек</p>
      </article>
    </div>
  </div>
</section>
