<section class="feedback-bottom">
  <div class="container">
    <h2 class="section__title">Есть вопросы?</h2>
    <form action="" class="feedback__form form">
      <p class="form__text">*Мы никому не передаем ваши данные.
        И не сохраняем ваш номер в базу.</p>
      <input type="text" class="form__input" placeholder="Ваше имя">
      <input data-tel-input type="tel" class="form__input" placeholder="Ваш телефон">
      <button type="submit" class="form__btn">Посмотреть район</button>
    </form>
  </div>
</section>
