:root {
  // base
  --font-main: "RalewayRegular", sans-serif;
  --font-accent: "PlayfaierDisplayBold", sans-serif;
  --font-secondary: "RobotoLight", sans-serif;
  --content-width: 1140px;
  --container-offset: 15px;
  --content-width-small: 840px;
  // colors
  --color-light: #ffffff;
  --color-accent: #D4C17F;
  --color-dark: #242B33;
  --color-footer-bg: #2D343C;
}

