:root {
  // base
  --font-main: "RalewayRegular", sans-serif;
  --font-accent: "PlayfaierDisplayBold", sans-serif;
  --font-secondary: "RobotoLight", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #ffffff;
  --color-accent: #D4C17F;
  --color-dark: #242B33;
}

